@model RegisterViewModel
<div>
    <div class="page-header">
        <h1>Complete registration</h1>
    </div>

    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            <strong>Error</strong>
            <div class="bg-danger"> @ViewData["Error"]</div>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="Register">
                        <fieldset>
                            <input type="hidden" asp-for="SecurityCode" />
                            <input type="hidden" asp-for="RedirectUrl" />
                            <p>Choose a password, and confirm it.</p>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input class="form-control"
                                       placeholder="Your new password"
                                       asp-for="Password" autofocus>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input class="form-control"
                                       placeholder="Confirm your password"
                                       asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>