@model RequestPasswordResetViewModel
<div>
    <div class="page-header">
        <h2>Request password reset</h2>
        <div class="text-info">This feature will work only for registered users</div> 
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="RequestPasswordReset">
                        <fieldset>
                            <p>Type in the email you have an account with.</p>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control"
                                       placeholder="Your email"
                                       asp-for="Email" autofocus>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Request password reset</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>